.default_btn{
    background-color: transparent;
    border: 3px solid transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: 0.1s all ease;
    margin: 0 5px;
}
.default_btn:hover{
    border-bottom: 3px solid white;
}
body{
    overflow-x: hidden;
}
.specific_btn{
    padding: 20px;
    background-color: #0087ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.1s all ease;
}
.specific_btn:hover{
    opacity: 0.8;
}

.default_shadow{
    box-shadow: rgba(131, 131, 131, 0.1) 0px 1px 3px;
}
.default_input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    border: none;
    background-color: transparent;
    color: gray;
}

input:focus{
    outline: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
body {
    margin: 0;
    background-color: #171615;
    font-family: "Josefin Sans", sans-serif;
}
*{
    font-family: "Josefin Sans", sans-serif;
}
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    scroll-behavior: smooth;
}
.asset_input_2{
    border: none;
    background-color: transparent;
    color: #a6a4a6;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
}
.asset_input_2::placeholder{
    color: #a6a4a6;
}
.default_select{
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #171615;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.default_select:focus{
    outline: none;
}

*:focus{
    outline: none;
}
a:focus{
    outline: 3px solid #0087ff;
    border-radius: 10px;
}
