
.container{
    width: 100%;
    min-height: 60vh;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_cont{
    width: 100%;
}
.content{
    width: 70%;
    padding: 20px;
    display: grid;
    justify-content: center !important;
    gap: 20px;
}
.game_categ{
    color: white;
    width: 100%;
    min-height: 190px;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 0 10px 0;
}
.game_categ img{
    width: 100%;
}
.game_id{
    width: 100% !important;
    background-color: #718096;
    padding: 15px 0;
}
.game_id p{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.game_categ:hover{
    opacity: 0.9;
}
@media only screen and (max-width: 990px) {
    .content{
        width: 85%;
    }
}
@media only screen and (max-width: 720px) {
    .content{
        display: block;
        width: 70%;
    }
    .game_categ{
        width: 100%;
        margin-top: 20px;
    }
}
.description_game{
    font-size: 20px;
    text-align: center;

}
