body {
    margin: 0;
    background-color: #090909;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 100%;
    padding: 0 0 10px 0;
    overflow: hidden;
}
.content{
    padding: 20px;
    position: relative;
    height: 50%;
    overflow: hidden;
}
.content_description{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.content img {
    width: 100%;
}
.content_description p{
    margin: 10px;
}
