body {
    margin: 0;
    background-color: #090909;
}
p{
    font-family: 'Ubuntu', sans-serif !important;
}
.container{
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
}
.content{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;

}
.image_parent_div{
    height: 250px;
    overflow: hidden;
}
.the_content_in_the_content_ez{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
.informations{
    width: 60%;
    height: 100%;
}
.office{
    width: 35%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'Ubuntu', sans-serif;
}
.office p{
    margin: 10px;
    color: #ececec;
}
.eo_button{
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    padding: 15px;
    border: none;
    color: white;
    background-color: rgba(73, 255, 40, 0.4);
}
.lg_button{
    padding: 15px;
    border: none;
    color: white;
    background-color: red;
}
.office button{
    width: 100%;
    margin: 2px 0;
    display: block;
}
.information_categ{
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #1E453E;
}
.information_categ p{
    margin: 3px;
}
.information_title_categ{
    cursor: pointer;
}

@media only screen and (max-width: 670px) {
    .the_content_in_the_content_ez{
        display: block;
    }
    .informations{
        display: block;
        width: 100%;
    }
    .office{
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}