body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    width: 100%;
    display: flex;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
}
.h_title{
    font-size: 27px;
    margin: 0;
    margin-left: 40px;
    font-weight: bold;
}
.h_title p{
    margin: 0;
}
.h_components{
    margin-right: 40px;
}

@media only screen and (max-width: 760px) {
    .h_components{
        margin-right: 20px;
    }
    .h_title{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 700px) {
    .header{
        display: block;
        text-align: center;
    }
    .colored_button{
        padding: 15px 40px !important;
    }
    .h_title{
        margin: 0;
    }
    .h_components{
        margin: 0;
        margin-top: 15px;
    }
}